// FONTS STYLES

@font-face {
  font-family: "Neue Haas Display";
  src: url("../../NeueHaasDisplay-Roman.woff2");
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("../../HaasDisplay.woff2");
  font-style: normal;
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  width: 100vw;
  font-family: "Neue Haas Display";
  position: relative;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  overscroll-behavior: none;
  scrollbar-width: none;
  background-color: #0f0f0f;
}

section {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  header {
    .logo {
      font-size: 25px;
      font-weight: bold;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 25%;
    padding: 3rem;
    border-right: 1px solid gray;
    .copyright {
      font-size: 20px;
      border-bottom: 1px solid white;
      max-width: 9em;
    }

    .nav-link {
      display: flex;
      flex-direction: column;
      list-style: none;
      &_item {
        font-size: 20px;
        padding: 20px 0;
        display: inline-block;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  main {
    .pills {
      position: absolute;
      top: 50%;
      right: 10%;
      transform: translate(0%, -50%);
      width: 600px;
      height: 600px;
      list-style: none;

      video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: z-index 0.5s, opacity 0.5;
        opacity: 0;
      }

      video[data-id="1"] {
        z-index: 10;
        opacity: 1;
      }
    }
    .links {
      padding: 40rem 8rem;
      height: 240vh;
      overflow: hidden;

      .link {
        a {
          font-size: 7rem;
          color: rgb(80, 80, 80);
          transition: all 3s ease-in-out;
          letter-spacing: -0.1rem;
        }
      }
    }
  }

  a {
    color: white;
    text-decoration: none;
  }
}
