// FONTS STYLES

@font-face {
  font-family: "Neue Haas Display";
  src: url("../../NeueHaasDisplay-Roman.woff2");
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  width: 100vw;
  font-family: "Neue Haas Display";
}
